*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 }

 #index {
  background-color: #c9c9c9;
  background-size: cover;
  background-attachment: fixed;
 }

 .center{
   margin-left: auto;
   margin-right: auto;
   display: block
 }

 h1 {
  color: rgb(34, 34, 34);
  font-family: 'Poppins', sans-serif;
  display: block;
  text-align: center;
  font-size: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
 }

 .center_button{
  text-align: center;
 }
 button{
   color: rgb(54, 54, 54);
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
   padding: 5px;
   margin: 3px;
 }
 .velikost_videa{
   color: rgb(54, 54, 54);
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
   margin-left: 30px;
 }
 .vyber_kapitoly{
   color: rgb(54, 54, 54);
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   margin-right: 15px;
 }

 #text_kapitola {
  color: rgb(59, 59, 59);
  font-family: 'Poppins', sans-serif;
  display: block;
  font-size: 20px;
  text-align: center;
  margin-top: 1%;
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: rgb(226, 226, 226);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px 25px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(110, 110, 110);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #d8d8d8;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: rgb(128, 128, 128);
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    text-align: center;
 }